@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
  --primary-color: #187498;
  --secondary-color: #7FBCD2;
  --dark-grey: #383838;

}

body {
    background-color: azure;
    font-family: 'Roboto', sans-serif;
}

.heading {
    color: var(--primary-color);
}

#heading2 {
    color: var(--secondary-color);
}

.container {
    padding: 2rem;
}

.container-center {
    max-width: 800px;
    margin: auto;
}

.container-border {
    border: 2px solid var(--dark-grey);
    border-radius: 10px;
    width:fit-content
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: azure;
    border: 1px solid azure; 
}

.link:hover{
    color: var(--primary-color);
    background-color: azure;
    border: 1px solid var(--dark-grey); 
}

.list-non-bullet {
    list-style: none;
}

.list-non-bullet .list-item-inline {
    display: inline;
}